.nav {
  background: rgb(189, 72, 72);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%;
}

.nav ul li a {
  margin: 5px 15px;
}
